.btn {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  font: inherit;
  border-radius: var(--rounded);
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  transition: var(--duration-300);
  text-align: center;

  &:disabled {
    cursor: unset;
  }

  &.back {
    position: fixed;
    top: calc(var(--topbar-height) + 1em);
    left: 1em;
    padding: 0.5em;
    gap: 0.25em;
    color: var(--light);
  }
}

.btn-close {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transform: translate3d(50%, -40%, 0);

  svg {
    color: var(--primary);
    height: 30px;
    width: 30px;
  }
}
