.btn {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  font: inherit;
  border-radius: var(--rounded);
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  transition: var(--duration-300);
  text-align: center;

  &:disabled {
    cursor: unset;
  }
}

.btn.back {
  position: fixed;
  top: calc(var(--topbar-height) + 1em);
  left: 1em;
  padding: 0.5em;
  gap: 0.25em;
  color: var(--light);
}