drop-down {
  position: relative;
}

drop-down button {
  width: 100%;
  border: 1px solid transparent;
  background: var(--secondary);
  border-radius: var(--rounded-sm);
  text-align: left;
  font: inherit;
  color: var(--primary);
  padding: 0.5em;
}

drop-down img {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: var(--rounded-full);
  cursor: pointer;
}

drop-down ul {
  z-index: 999;
  position: absolute;
  top: 105%;
  left: 0;
  background: var(--secondary);
  box-shadow: var(--shadow-lg);
  border-radius: var(--rounded);
  color: var(--primary);
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  a {
    display: inline-block;
    min-width: 100%;
  }
}

drop-down li {
  transition: var(--duration-300);
  padding: 0.25em 0.5em;
  cursor: pointer;
}

drop-down li:hover,
drop-dow li:focus {
  color: var(--tertiary);
}
