form {
  display: grid;
  gap: 1em;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

input,
select {
  width: 100%;
  border: 1px solid transparent;
  border-radius: var(--rounded);
  background-color: var(--light);
  padding: 1em;
  font: inherit;
  color: inherit;
  box-shadow: var(--shadow);
}

.invalid {
  color: var(--danger);
}
