.question-item {
  display: grid;
  gap: 3em;
  text-align: center;
}

.question-item__title {
  font-size: 1.5em;
}

.question-item__answers {
  display: grid;
  gap: 1em;
}

.answer-item {
  transition: none;
  position: relative;
}

.answer-item:not(:disabled):hover,
.answer-item.validate {
  background-color: var(--tertiary);
  color: var(--primary);
}

.answer-item .icon {
  color: var(--light);
  position: absolute;
  top: 1em;
  left: 1em;
}

.answer-item .good {
  visibility: hidden;
}

.answer-item.validate .good {
  visibility: visible;
}
