.topbar {
  height: var(--topbar-height);
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary);
  color: var(--secondary);
}

.topbar drop-down button {
  all: unset;
}

.topbar drop-down ul {
  width: 200px;
  left: unset;
  right: 0%;
  min-width: 100%;
}

.topbar-play {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.topbar-play__timer {
  font-size: var(--text-1xl);
}
