html,
body {
  min-height: 100vh;
  font-size: 18px;
  font-family: var(--font-sans);
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--secondary);
  color: var(--primary);
}

#root {
  min-height: 100vh;
}

