.w-full {
  width: 100%;
}

.tag {
  padding: 0.35em;
  width: max-content;
  border-radius: var(--rounded-md);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.card {
  width: var(--container-sm);
}

.separator {
  width: 100%;
  border-radius: var(--rounded);
  box-shadow: var(--shadow-lg);
}

[class^='container'] {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--container);
}

.container-md {
  max-width: var(--container-md);
}

.container-sm {
  max-width: var(--container-sm);
}

.container-lg {
  max-width: var(--container-lg);
}

.avatar {
  object-fit: cover;
  object-position: center center;
  border-radius: var(--rounded-full);
  box-shadow: var(--shadow);
}

.card {
  padding: 1em;
  border-radius: var(--rounded);
  box-shadow: var(--shadow-lg);
}

.mb1 {
  margin-bottom: 1em;
}