:root {
  // COLORS
  --primary: #031927;
  --secondary: #e5dcc5;
  --tertiary: #f3752b;
  --sucess: #60f32b;
  --danger: #FF1B1C;
  --light: #ffffff;
  --dark: #1d1d1d;

  // FONT
  --font-sans: 'Noto Sans', sans-serif;
  --text-1xl: 2rem;
  --text-3xl: 2.5rem;
  --text-5xl: 3rem;
  --text-7xl: 4.5rem;
  --text-9xl: 8rem;

  // ROUNDED
  --rounded: 0.25rem;
  --rounded-sm: 0.125rem;
  --rounded-md: 0.375rem;
  --rounded-full: 99999999px;

  // SHADOW
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  // ANIMATION
  --duration-300: 0.3s;

  // GRID
  --grid-cols-1: repeat(1, minmax(0, 1fr));
  --grid-cols-2: repeat(2, minmax(0, 1fr));
  --grid-cols-3: repeat(3, minmax(0, 1fr));

  // LAYOUT
  --topbar-height: 100px;

  // CONTAINER
  --container: 1440px;
  --container-sm: 500px;
  --container-md: 800px;
  --container-lg: 1120px;
}
