.home {
  padding-left: 1em;
  min-height: calc(100vh - var(--topbar-height));
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home h1 {
  font-size: var(--text-7xl);
  margin: 7rem 0;
}

.home .card {
  display: grid;
  gap: 1em;
}
