.lobby {
  padding: 1em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby-question {
  width: 450px;
  display: grid;
  gap: 3em;
  text-align: center;
}

.lobby-question__title {
  font-size: 1.5em;
}

.lobby-question__answers {
  display: grid;
  gap: 1em;
}

.lobby-question__answers .btn:not(:disabled):hover,
.lobby-question__answers .btn.validate {
  background-color: var(--tertiary);
  color: var(--primary);
}
