.account {
  min-height: calc(100vh - var(--topbar-height));
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.account form {
  gap: 2em;
  padding: 1em;
  box-shadow: var(--shadow-lg);
  border-radius: var(--rounded);
}

.image-field {
  margin: auto;
}
