.account {
  min-height: calc(100vh - var(--topbar-height));
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-form {
  gap: 2em;
}

.image-field {
  margin: auto;
}
