.home {
  padding-left: 1em;
  min-height: calc(100vh - var(--topbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-body {
  width: var(--container-sm);
  display: grid;
  gap: 1em;
}

.home .alert {
  width: var(--container-sm);
}

.premium-alert {
  text-align: center;
  display: grid;
  gap: 1em;
}

.premium-alert-price {
  font-size: var(--text-1xl);
}
