.lobby {
  min-height: calc(100vh - var(--topbar-height));
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby-body {
  width: var(--container-sm);
  display: grid;
  gap: 3em;
}