.play {
  min-height: calc(100vh - var(--topbar-height));
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-body {
  width: var(--container-sm);
  display: grid;
  gap: 3em;
}

.play-starttimer {
  text-align: center;
  font-size: var(--text-3xl);
}
