.profil {
  padding: 1em;
  text-align: center;
  display: grid;
  gap: 1em;
}

.profil-logo {
  height: 200px;
  width: 200px;
  border-radius: var(--rounded-full);
  box-shadow: var(--shadow);
}

.profil-stats {
  display: grid;
  gap: 1em;
}
