.profil {
  padding: 1em;
  text-align: center;
  display: grid;
  gap: 1em;
}

.profil-logo {
  height: 200px;
  width: 200px;
  border-radius: var(--rounded-full);
  box-shadow: var(--shadow);
}

.profil-stats {
  display: grid;
  gap: 1em;
}

.profil-stats__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

.profil-stats__card {
  padding: 1em;
  box-shadow: var(--shadow);
  border: 1px solid var(--primary);
  border-radius: var(--rounded);
}

.profil-stats__card h3 {
  font-size: 1.5em;
}