.result {
  padding: 1em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-inner {
  display: grid;
  gap: 2em;
}

.result .stats-items {
  margin-bottom: 1em;
}

.result h1 {
  font-size: var(--text-5xl);
  line-height: 1;
}
